ul.countdown {
	list-style: none;
	width:300px;
	/*margin: 75px 0;*/
	padding: 0 0 0 40px;
	/*display: block;*/
	/*text-align: center;*/
	float:left
}
ul.countdown li {
       color: #64a7df;/*#060;*/
	display: inline-block;
}
ul.countdown li span {
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
}
ul.countdown li.seperator {
	font-size: 22px;
	line-height: 22px;
	vertical-align: top;
}
ul.countdown li p {
	color: #64a7df;/*#060;*/
	font-size: 18px;
}
ul.countdown p{
      	color: #333;
	font-size: 14px;
}